.addbutton {
    &__paper {
        width: 285px;
        height: auto;
        text-align: center;
        cursor: pointer;
        &:hover {
            background-color: #5558AF;
        }
    }
    &__paper:hover &__button {
        color: white;
    }
    &__button {
        margin: 8px 0 !important;
        // background-color: plum !important;
        vertical-align: middle;
        color: #5558AF;
    }
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}